*{
    background-color: rgba(124, 235, 237, 0.681);
}


nav > ul{
    

display: flexbox;
flex-wrap: wrap;
background-color: rgba(245, 14, 14, 0);
}

nav > ul > li > input {


    
background-color: rgba(81, 227, 32, 0.46);
}