*{
    background-color: rgba(147, 228, 230, 0.681);
}


nav > ul{
    

display: flexbox;
flex-wrap: wrap;
background-color: rgba(137, 125, 125, 0);
}

nav > ul > li > input {


    
background-color: rgba(173, 193, 167, 0.46);
}