@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Kanit:wght@200;400;800&family=Roboto:ital,wght@0,300;1,100;1,400&family=Zilla+Slab:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zilla Slab', serif;

}
.cuidados{
    background-image: url("../img/cuidados.jpg");
    height: 90vh;
    


}