@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;800&family=Zilla+Slab:wght@300;400;700&display=swap');
@import "./partials/reset";

@import "./partials/ancianos";

@import "./partials/header";

.reset
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-family: "Zilla Slab", serif;
  }
  
  .contenedor {
    height: 50%;
    padding: 4,5rem;
    margin-top: 0 ;
    background-image: url(../img/ancianos.jpg);
    width: 1%; ;background-position:center ;
  }
  
  .navbar {
    background-color: black;
  }
  
  
  .parrafo {
    
    padding: 1rem;
    padding-bottom: 0;
    font-size: 2rem;
  }
  
  
  header {
    background-color: rgb(233, 215, 197);
  }
  
  
  
