@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;800&family=Zilla+Slab:wght@300;400;700&display=swap');
@import "./partials/reset";

@import "./partials/ancianos";

@import "./partials/header";

.reset
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    font-family: "Zilla Slab", serif;
  }
  
  .imagen {
    margin: 5px;
    height: 9%;
    padding: 4,5rem;
    margin-top: 10px ;
    background-image: url(../img/ancianos.jpg);
    width: 690px; 
    background-position:center ;
    display: flex;
    justify-content: center;
  }
  
  menu {
    display: grid;
    width: 1500px;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 1fr;
    }
  

  
  
  
  .parrafo {
    
    background-color: rgb(232, 209, 197);
    font-family: "Zilla Slab", serif;
    padding: 6rem;
    padding-bottom: 700;
    font-size: 20rem;
    display: inline-flex;
  }
  
  
  header {
    background-color: rgb(233, 215, 197);
  }
  

  
